.contactField-container {
  margin-left: 5%;
  margin-top: 10%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  position: relative;
  width: 50%;
}

.contactField-anchor {
  font-size: 24px;
  font-family: "Quicksand";
  color: rgba(238, 238, 238, 0.911);
}

.contactField-anchor:hover {
  transform: scale(1.25, 1.25);
}
