.contact-container {
  background-color: #222;
  background-size: cover;
  background-position: right;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contact-card {
  box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.911);
  border: 2px solid rgba(238, 238, 238, 0.911);
  transition: 0.3s;
  height: 85%;
  width: 80%;
  display: block;
  border-radius: 10px;
}

.contact-card-title {
  position: absolute;
  display: flex;
  width: 50%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin-left: 125px;
  margin-top: 5px;
}

.contact-card-title-text {
  font-family: "quicksand";
  font-style: italic;
  font-weight: 700;
  color: rgb(235, 209, 209);
  text-shadow: 0px 0px 10px white, 0px 0px 3px white;
  font-size: 28px;
}
